<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <app-product-list (orderDetail)="onAddOrderItem($event)"></app-product-list>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <h4>Hóa đơn</h4>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <div class="md-form">
                <input mdbInput type="text" id="user" class="form-control">
                <label for="user" class="">Nhân viên bán hàng</label>
              </div>
            </div>
            <div class="col-md-4">
              <div class="md-form mt-0">
                <input mdbInput type="text" id="customerCode" class="form-control">
                <label for="customerCode" class="">Mã khách hàng</label>
              </div>
            </div>
            <div class="col-md-7">
              <div class="md-form mt-0">
                <input mdbInput type="text" id="customername" class="form-control">
                <label for="customername" class="">Tên khách hàng</label>
              </div>
            </div>
            <div class="col-md-1 pt-3">
              <a class="text-warning"><mdb-icon fas icon="info"></mdb-icon></a>
            </div>
            <div class="col-md-12">
              <div class="md-form mt-0">
                <input mdbInput type="date" id="date" class="form-control">
                <label for="date" class="">Ngày bán</label>
              </div>
            </div>

          </div>
          <div *ngIf="cart">
          <div *ngFor="let item of cart.orderItem; index as i" class="row mt-2" >
            <div class="col-md-1" *ngIf="item.product">
              <span class="text-white badge bgr-qtt">{{item.quantity}}</span>
            </div>
            <div class="col-md-6" *ngIf="item.product">
              <p class="text-dark" >
                <a>{{item.product.name}}</a>
              </p>

            </div>
            <div class="col-md-4" *ngIf="item.product">
              <p class="text-dark float-right" >
                <a>{{item.price}}.000Đ</a>
              </p>
            </div>
          </div>
          <hr>
          <div class="row">

            <div class="col-md-7">
              <p class="text-dark">
                Cộng  món)
              </p>
              <p class="text-dark ">
                Vận chuyển
              </p>

            </div>
            <div class="col-md-4">
              <p class="text-dark float-right">
                <a>.000Đ</a>
              </p><br>
              <p class="text-dark float-right">
                <a>0.000Đ</a>
              </p>
            </div>
            <div class="col-md-12 mt-3">
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Nhập mã ưu đãi tại đây" aria-label="Nhập mã ưu đãi tại đây"
                       aria-describedby="button-addon2">
                <div class="input-group-append">
                  <button mdbBtn color="default"  size="md" class="m-0 px-3 py-2" type="button" id="button-addon2" mdbWavesEffect>Áp dụng</button>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
        <div class="card-footer">
            <div class="row">
              <div class="col">
                <button type="button" class="float-left" size="sm" mdbBtn color="warning" mdbWavesEffect>Hủy</button>
              </div>
              <div class="col">
                <button type="button" class="float-right" size="sm" mdbBtn color="primary" mdbWavesEffect>Than toán</button>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
