.full-page-container {
  height: calc(90vh - 0px);
}
@media screen and (max-height:885px) {
  .full-page-container {
    height: auto;
  }
}

.font-weight-bold{
  color: black;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 0;
  margin-top: 10px;
}
